textarea{
  padding: 4px 8px;
  margin: 1px;
  border: 1px solid black;
}

/*header start*/
header{
  background-color: #0061FF;
  height: 120px;
}
.header__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.header__container>div{
  text-align: center;
}
.header__container div>p,
.header__container>p{
  font-size: 19px;
  margin: 0 25px 8px 0;
  color: white;
}
.header__container nav{
  align-self: flex-end;
}
.header__container ul{
  margin-left: 10vw;
  display: flex;
  padding: 10px 20px;

}
.header__container ul li{
  /* display: block; */
  color: white;
  list-style: none;
  /* font-size: 20px; */
  /* min-width: 140px; */
  text-align: center;
  
  cursor: pointer;
}

.header__container ul li:hover,
.header__container button:hover{
  text-decoration: underline;
}
.header__container button,
.login-page button{
  font-size: 20px;
  padding: 8px 30px;
  background-color: #0061FF;
  margin-right: 5vw;
  margin-left: 13px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  text-align: center;
}

/*header end*/
/*home start*/
.home{
  display: inline-block;
  position: relative;
  font-size: 32px;
  font-weight: 600;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 25vh;
}
.home>span{
  display: block;
  font-size: 95px;
  text-align: center;
}
/*home end*/
/*login page start*/
.login-page{
  padding: 30px;
  text-align: center;
}
.login-page>p{
  font-size: 18px;
  margin-bottom: 30px;
}
/*login page end*/

.main__products{
  width: 600px;
  position: relative;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;

}
.todo{
  width: 600px;
  position: relative;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
}
.main__container{
  background-color: #D7D7D8;
  padding: 15px;
  margin-bottom: 30px;
}
.search-table{
  margin-bottom: 8px;
}
.search-table, 
.products-table{
  border: 1px solid black;
}
.search-table>div,
.products-table>div{
  padding: 8px 24px;
  display: flex;
  flex-direction: column;
}

.search-table input[type="text"]{
  width: 50%;
  margin-bottom: 6px;
}
.search-table label{
  font-size: 14px;
}
.search-table table td:last-child{
  text-align: center;
}
.search-table__button-cont{
  margin-bottom: 8px;
}
.search-table__button-cont button,
.search-table__button-add{
  display: inline-block;
  background-color: #F1F3F4;
  min-width: 40%;
  padding: 3px 10px;
  cursor: pointer;
}
.search-table__button-add{
  text-align: center;
}
.search-table__button-cont button:not(:last-child){
  margin-right: 10px;
  
}
.product-stable__cont-title{
  display: flex;
  justify-content: space-around;
  font-weight: 500;
}
.category{
  font-weight: 500;
  background-color: darkgray;
}
.product{
  display: flex;
}
.product>div:first-of-type{
  flex: 0 1 70%
}
.product>div:last-of-type{
  flex: 0 1 30%
}
.product-table__table{
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
}
.todo__item td{
  padding: 2px 8px;
}
.todo__item td textarea,
.search-table textarea{
  width: 100%;
  height: 100%;
  max-height: 200px;
  resize: vertical;
}
.search-table textarea{
  min-height: 50px;
}
.todo__item td:nth-child(2),
.todo__item td:nth-child(3){
  text-align: center;
}
.todo__item td:nth-child(3) button,
.todo__item td:first-child{
  cursor: pointer;
}

.todo__item:nth-child(odd){
  background-color: #F1F3F4;
}
.todo__item td button{
  margin: 6px;
  width: 24px;
  height: 24px;
}
.red{
  color: red;
}



/*test react router dom*/
ul li a.active{
  background-color: #eee;
  color: black;
}
nav ul li a{
  color: white;
  text-decoration: none;
  padding: 9px 20px;
}
nav a:hover{
  text-decoration: underline;
}

.main ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.main ul li {
  margin-right: 1rem;
}

.dashboard {
  padding: 1rem 0;
}




ul.orders {
  flex-direction: column;
  border: 1px solid;
  padding: 0.5rem;
}
.orders li {
  padding: 0.5rem 0;
}
.orders li a{
  color: inherit;
}
ul.invoices {
  flex-direction: column;
  border: 1px solid;
  padding: 0.5rem;
}
.invoices li {
  padding: 0.5rem 0;
}

/*test rect router dom end*/

.hooks button{
  padding: 5px 15px;
  background-color: dimgrey;
  font-size: 20px;
  margin: 5px;
  color: white;
}
pre{
  font-size: 14px;
  line-height: 1.2;
}
